<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("../include") %>

    <title>Mypage</title>
  </head>
  <body>
    <%- include("../common/header", {isMain: "notMain", isLogined: isLogined})
    %>

    <main class="container">
      <section class="d-flex flex-column align-items-center mypage_container">
        <h1><%= nickname %>님의 Mypage</h1>
        <div class="tab_box">
          <!-- tab 메뉴 -->
          <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="pocus-tab"
                data-bs-toggle="tab"
                data-bs-target="#pocus-tab-pane"
                type="button"
                role="tab"
                aria-controls="pocus-tab-pane"
                aria-selected="true"
              >
                Pocus
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#profile-tab-pane"
                type="button"
                role="tab"
                aria-controls="profile-tab-pane"
                aria-selected="false"
              >
                Personal Info
              </button>
            </li>
          </ul>
          <!-- tab 내용 -->
          <div class="tab-content" id="myTabContent">
            <!-- Pocus tab content -->
            <section
              class="tab-pane fade show active"
              id="pocus-tab-pane"
              role="tabpanel"
              aria-labelledby="pocus-tab"
              tabindex="0"
            >
              <div
                class="pocus_box d-flex flex-column justify-content-between align-items-center"
              >
                <a href="/init">
                  <button class="btn btn-primary">START Init</button>
                </a>

                <% let logs = [ { "date":"2022.05.16", "log":"턱 괴는 자세", },
                { "date":"2022.05.17", "log":"다리 꼬는 자세", }, {
                "date":"2022.05.18", "log":"양반 다리", }, {
                "date":"2022.05.19", "log":"거북목 자세", } ] %>

                <table class="table table-hover log_table">
                  <thead>
                    <tr>
                      <th scope="col" class="w_10">No</th>
                      <th scope="col" class="w_30">Date</th>
                      <th scope="col" class="w_30">Type</th>
                      <th scope="col" class="w_30">Sensor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (let i=0; i < logData.length; i++) { %>
                    <tr>
                      <th scope="row" class="w_10">
                        <%= logData.length - i %>
                      </th>
                      <td class="w_30"><%= logData[i].date.slice(0, 10) %></td>
                      <td class="w_30"><%= logData[i].warning %></td>
                      <td class="w_30">
                        <%= logData[i].isUpper === 0 ? `${logData[i].ss1},
                        ${logData[i].ss2},${logData[i].ss3},${logData[i].ss4}` :
                        "-" %>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </section>
            <!-- Personal Info tab content -->
            <section
              class="tab-pane fade"
              id="profile-tab-pane"
              role="tabpanel"
              aria-labelledby="profile-tab"
              tabindex="0"
            >
              <div class="d-flex flex-column align-items-center">
                <form method="post" action="/mypage" class="personal_form">
                  <div class="mb-3">
                    <label for="usernameInput" class="form-label">
                      Username
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="usernameInput"
                      value="<%= userData.id %>"
                      disabled
                    />
                  </div>
                  <div class="mb-3">
                    <label for="passwordInput" class="form-label"
                      >Password</label
                    >
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      id="passwordInput"
                      value="<%= userData.password %>"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="nickname" class="form-label"
                      >Nickname</label
                    >
                    <input
                    type="text"
                    name="nickname"
                    id="nickname"
                    class="form-control"
                    placeholder="Nickname"
                    value="<%= userData.nickname %>"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="birthday" class="form-label"
                      >Birthday</label
                    >
                    <input
                    type="date"
                    name="birthday"
                    id="birthday"
                    class="form-control"
                    placeholder="Birthday"
                    value="<%= userData.birthday.slice(0, 10) %>"
                    />
                  </div>
                  <div class="input-group mb-3">
                    <label class="input-group-text" for="gender">Gender</label>
                    <select class="form-select" id="gender" name="gender">
                      <option <%= userData.gender == 0 ? "selected" : "" %> value="0">Female</option>
                      <option <%= userData.gender == 1 ? "selected" : "" %> value="1">Male</option>
                    </select>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">Height</span>
                    <input
                      type="number"
                      class="form-control mb-0"
                      name="height"
                      placeholder="cm"
                      value="<%= userData.height %>"
                      />
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text">Weight</span>
                        <input
                        type="number"
                        class="form-control mb-0"
                        name="weight"
                        placeholder="kg"
                        value="<%= userData.weight %>"
                    />
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Edit</button>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
