<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("../include") %>

    <title>Mypage</title>
  </head>
  <body>
    <%- include("../common/header", {isMain: "notMain", isLogined: isLogined})
    %>

    <main class="container">
      <section class="d-flex flex-column align-items-center mypage_container">
        <h1><%= username %>님의 Mypage</h1>
        <div class="tab_box">
          <!-- tab 메뉴 -->
          <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="pocus-tab"
                data-bs-toggle="tab"
                data-bs-target="#pocus-tab-pane"
                type="button"
                role="tab"
                aria-controls="pocus-tab-pane"
                aria-selected="true"
              >
                Pocus
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#profile-tab-pane"
                type="button"
                role="tab"
                aria-controls="profile-tab-pane"
                aria-selected="false"
              >
                Personal Info
              </button>
            </li>
          </ul>
          <!-- tab 내용 -->
          <div class="tab-content" id="myTabContent">
            <!-- Pocus tab content -->
            <section
              class="tab-pane fade show active"
              id="pocus-tab-pane"
              role="tabpanel"
              aria-labelledby="pocus-tab"
              tabindex="0"
            >
              <div
                class="pocus_box d-flex flex-column justify-content-between align-items-center"
              >
                <a href="/init">
                  <button class="btn btn-primary">START Init</button>
                </a>

                <% let logs = [ { "date":"2022.05.16", "log":"턱 괴는 자세", },
                { "date":"2022.05.17", "log":"다리 꼬는 자세", }, {
                "date":"2022.05.18", "log":"양반 다리", }, {
                "date":"2022.05.19", "log":"거북목 자세", } ] %>

                <table class="table table-hover log_table">
                  <thead>
                    <tr>
                      <th scope="col" class="w_10">No</th>
                      <th scope="col" class="w_30">Date</th>
                      <th scope="col" class="w_30">Log</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (let i=0; i < logs.length; i++) { %>
                    <tr>
                      <th scope="row" class="w_10"><%= i+1 %></th>
                      <td class="w_30"><%= logs[i].date %></td>
                      <td class="w_30"><%= logs[i].log %></td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </section>
            <!-- Personal Info tab content -->
            <section
              class="tab-pane fade"
              id="profile-tab-pane"
              role="tabpanel"
              aria-labelledby="profile-tab"
              tabindex="0"
            >
              <div class="d-flex flex-column align-items-center">
                <form class="personal_form">
                  <div class="mb-3">
                    <label for="usernameInput" class="form-label">
                      Username
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="usernameInput"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="emailInput" class="form-label">
                      Email address
                    </label>
                    <input type="email" class="form-control" id="emailInput" />
                  </div>
                  <div class="mb-3">
                    <label for="passwordInput" class="form-label"
                      >Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      id="passwordInput"
                    />
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Edit</button>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
